celery
cherrypy
codeclimate-test-reporter
coverage>=4.0,<4.4
httpretty
mock
-e git://github.com/pacifica/pacifica-archiveinterface.git#egg=PacificaArchiveInterface
peewee>2
pep257
pre-commit
psutil
pylint
pymysql
pytest
radon
requests
setuptools
