celery
codeclimate-test-reporter
coverage>=4.0,<4.4
httpretty
MySQL-python
peewee
pre-commit
psutil
pylint==1.6.3
pytest
requests
setuptools
-e git://github.com/pacifica/pacifica-archiveinterface.git#egg=PacificaArchiveInterface
